* {
    box-sizing: border-box;
    margin: 0;
}

/*=====background=====*/

.wrapper { 
    position: relative;

    height: 600px;
    max-width: 800px;
    margin: 0 auto;

    font-family: Arial, Helvetica, sans-serif;

    background: #F0F0F3;
    overflow: hidden;
}

.wrapper__rectangle {
    position: absolute;
    left: 7%;
    bottom: 55%;

    width: 110px;
    height: 125px;

    background: #F0F0F3;
    box-shadow: -10px -10px 30px #FFFFFF, 10px 10px 30px rgba(174, 174, 192, 0.4);
    border-radius: 12px;
}

.wrapper__square {
    position: absolute;
    right: 7%;
    top: 5%;

    width: 150px;
    height: 150px;

    background: #F0F0F3;
    box-shadow: -10px -10px 30px #FFFFFF, 10px 10px 30px rgba(174, 174, 192, 0.4);
    border-radius: 12px;
}

.wrapper__circle--md {
    position: absolute;
    left: 7%;
    top: 76%;

    width: 195px;
    height: 195px;

    background: #F0F0F3;
    box-shadow: 10px 10px 30px rgba(174, 174, 192, 0.4), -10px -10px 30px #FFFFFF;
    border-radius: 50%;
}

.wrapper__circle--sm {
    position: absolute;
    width: 125px;
    height: 125px;
    right: 7%;
    top: 60%;
    
    background: #F0F0F3;
    box-shadow: 10px 10px 30px rgba(174, 174, 192, 0.4), -10px -10px 30px #FFFFFF;
    border-radius: 50%;
}

/*=====calculator=====*/

.calculator-container {
    display: flex;
    align-items:center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.calculator {
    position: relative;
    z-index: 1;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 200px;
    
    box-shadow: -10px -10px 24px rgba(255, 255, 255, 0.6), 10px 10px 24px #aeaec033;
    border-radius: 12px;
}

.calculator__points--left {
    position: absolute;
    right: 85%;
    bottom: 80%;
    z-index: -1;

    width: 66px;
    height: 113px;
    background: url('../img/points-for-background.png');
}

.calculator__points--right{
    position: absolute;
    left: 86%;
    top: 60%;
    z-index: 1;

    width: 66px;
    height: 113px;
    background: url('../img/points-for-background.png');
}

/*=====calculator-header=====*/

.calculator__header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 130px;

    background: #2E2C2C;
    border-radius: 12px 12px 0px 0px;
}

.calculator__operation {
    height: 50px;
    padding: 10px;

    font-size: 30px;
    text-align: right;
    color: rgba(114, 138, 183, 0.65);
}

.calculator__result {
    height: 50px;
    padding: 5px 10px;

    font-weight: 500;
    font-size: 40px;
    text-align: right;
    align-items: center;
    color: #F2F2F4;

    border: none;
    background: #2E2C2C;
    outline: none;
}

/*=====calculator-body=====*/

.calculator__body {
    position: relative;
    z-index: 3;

    height: 270px;
    padding: 30px 10px 10px;

    background: #F0F0F3;
    border-radius: 0px 0px 12px 12px;
}

.calculator__body::after {
    content:"";

    position: absolute;
    left: 30%;
    top: 5%;

    width: 75px;
    height: 3px;

    box-shadow: inset -1px -1px 1px rgba(255, 255, 255, 0.7), inset 1px 1px 2px rgba(174, 174, 192, 0.2);
    border: 2px solid #EEEEEE;
    border-radius: 12px;
}

.calculator__btn {
    width: 40px;
    height: 40px;
    margin-bottom: 4px;

    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #728AB7;

    background: #F0F0F3;
    border: none;
    border-radius: 16px;
    box-shadow: -10px -10px 24px rgba(255, 255, 255, 0.6), 10px 10px 24px #aeaec033;
    outline: none;
}

.calculator__btn--operation {
    color: #745FF2;
}

.calculator__btn--plus-minus,
.calculator__btn--percent,
.calculator__btn--clear {
    color: #898989;
}

.calculator__btn--equal{
    background: #2DD3C5;
    color: #F0F0F3;
}

.calculator__btn--zero {
    padding-right: 67px;
    padding-left: 18px;
}