.calculator {
    position: relative;
    z-index: 1;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 200px;
    
    box-shadow: -10px -10px 24px rgba(255, 255, 255, 0.6), 10px 10px 24px #aeaec033;
    border-radius: 12px;

    &__points--left {
        position: absolute;
        right: 85%;
        bottom: 80%;
        z-index: -1;
    
        width: 66px;
        height: 113px;
        background: url('../img/points-for-background.png');
    }
    
    &__points--right{
        position: absolute;
        left: 86%;
        top: 60%;
        z-index: 1;
    
        width: 66px;
        height: 113px;
        background: url('../img/points-for-background.png');
    }
}

